{
  "version": "1.0",
  "created_at": "2025-11-11T01:05:13.872488",
  "monitors": [
    {
      "id": 4,
      "windows_number": 4,
      "name": "Monitor 4 (LG 27MP35) - 1920x1080 at (-1920, 0)",
      "device_name": "\\\\.\\DISPLAY3",
      "primary": false,
      "x": -1920,
      "y": 0,
      "width": 1920,
      "height": 1080,
      "manufacturer": {
        "instance": "DISPLAY\\GSM5A5B\\5&1a59f1d1&0&UID264_0",
        "code": "GSM",
        "brand": "LG",
        "model": "27MP35",
        "full_name": "LG 27MP35"
      }
    },
    {
      "id": 1,
      "windows_number": 1,
      "name": "Monitor 1 (BenQ BenQ GW2750H) - 1920x1080 - Primary",
      "device_name": "\\\\.\\DISPLAY1",
      "primary": true,
      "x": 0,
      "y": 0,
      "width": 1920,
      "height": 1080,
      "manufacturer": {
        "instance": "DISPLAY\\BNQ78C2\\5&1a59f1d1&0&UID256_0",
        "code": "BNQ",
        "brand": "BenQ",
        "model": "BenQ GW2750H",
        "full_name": "BenQ BenQ GW2750H"
      }
    },
    {
      "id": 2,
      "windows_number": 2,
      "name": "Monitor 2 (Koorui 27N1) - 1920x1080 at (1920, 0)",
      "device_name": "\\\\.\\DISPLAY4",
      "primary": false,
      "x": 1920,
      "y": 0,
      "width": 1920,
      "height": 1080,
      "manufacturer": {
        "instance": "DISPLAY\\HKC2711\\5&1a59f1d1&0&UID260_0",
        "code": "HKC",
        "brand": "Koorui",
        "model": "27N1",
        "full_name": "Koorui 27N1"
      }
    },
    {
      "id": 3,
      "windows_number": 3,
      "name": "Monitor 3 (Koorui 27N1) - 1920x1080 at (3840, 0)",
      "device_name": "\\\\.\\DISPLAY2",
      "primary": false,
      "x": 3840,
      "y": 0,
      "width": 1920,
      "height": 1080,
      "manufacturer": {
        "instance": "DISPLAY\\HKC2713\\5&1a59f1d1&0&UID261_0",
        "code": "HKC",
        "brand": "Koorui",
        "model": "27N1",
        "full_name": "Koorui 27N1"
      }
    }
  ],
  "user_preferences": {
    "default_monitor_id": 4,
    "auto_delete_days": 30,
    "last_updated": "2025-11-11T01:06:10.983158",
    "monitors_detected": true
  }
}